:root{

/* colores para cada estacion */
--primavera-btn:#3b9c5f;
--verano-btn:#ff7b00;

/* agregamos colores de las nuevas estaciones */
--otono-btn:#b86b2b;
--invierno-btn:#4da6ff;

/* velocidad de la animacion para que cambie */
--transicion: all 1s cubic-bezier(0.3,0,0.3,1);

}

/* imagen de fondo dependiendo la estacion */
body.primavera{
background-image:url("imagen_primavera.jpg");
}

body.verano{
background-image:url("imagen_verano.jpg");
}

body.otono{
background-image:url("imagen_otono.jpg");
}

body.invierno{
background-image:url("imagen_invierno.jpg");
}

/* colores del boton */
body.primavera #boton-estacion{
background-color:var(--primavera-btn);
}

body.verano #boton-estacion{
background-color:var(--verano-btn);
}

body.otono #boton-estacion{
background-color:var(--otono-btn);
}

body.invierno #boton-estacion{
background-color:var(--invierno-btn);
}